/* Стилизация аккордеона */
.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__summary:first-of-type {
  display: block;
}

.accordion__item {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;

  margin-bottom: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: var(--black);
}

.accordion__item[open]:last-child {
  padding-bottom: 32px;
}
